version: "2"


services:

  fuseki:
    image: fcrepoapix/apix-fuseki:2.4.1
    env_file: .env
    container_name: fuseki
    ports:
      - "${FUSEKI_PORT}:${FUSEKI_PORT}"

  fcrepo:
    image: fcrepoapix/apix-fcrepo:4.7.1
    container_name: fcrepo
    env_file: .env
    ports:
      - "${FCREPO_PORT}:${FCREPO_PORT}"
      - "5006:5006"

  indexing:
    image: fcrepoapix/apix-indexing:latest
    container_name: indexing
    env_file: .env
    ports:
      - "9090:9090"
      - "5010:5010"
    depends_on:
      - fcrepo
      - fuseki
    links:
      - apix:localhost

  acrepo:
    image: fcrepoapix/apix-acrepo:1.0.99
    container_name: acrepo
    env_file: .env
    ports:
      - "${ACREPO_FITS_PORT}:${ACREPO_FITS_PORT}"
      - "${ACREPO_IMAGE_PORT}:${ACREPO_IMAGE_PORT}"
      - "${ACREPO_JSONLD_PORT}:${ACREPO_JSONLD_PORT}"
      - "${ACREPO_PCDM_PORT}:${ACREPO_PCDM_PORT}"
      - "${ACREPO_SERIALIZE_XML_PORT}:${ACREPO_SERIALIZE_XML_PORT}"
      - "${ACREPO_TEMPLATE_PORT}:${ACREPO_TEMPLATE_PORT}"
    depends_on:
      - fcrepo
    links:
      - apix:localhost

  apix:
    image: fcrepoapix/apix-core:latest
    container_name: apix
    env_file: .env
    ports:
      - "${APIX_PORT}:${APIX_PORT}"
      - "${APIX_LOADER_PORT}:${APIX_LOADER_PORT}"
    depends_on:
      - fcrepo

  fits:
    image: fcrepoapix/apix-fits:1.0.3
    container_name: fits
    env_file: .env
    ports:
      - "${FITS_PORT}:${FITS_PORT}"
