version: "2"

services:

  fuseki:
    image: fcrepoapix/apix-fuseki:3.4.0
    build: fuseki/3.4.0
    env_file: .env
    container_name: fuseki
    ports:
      - "${FUSEKI_PORT}:${FUSEKI_PORT}"

  fcrepo:
    image: fcrepoapix/apix-fcrepo:4.7.4-1
    build: fcrepo/4.7.4-1
    container_name: fcrepo
    env_file: .env
    ports:
      - "${FCREPO_PORT}:${FCREPO_PORT}"
      - "5006:5006"

  indexing:
    image: fcrepoapix/apix-indexing:0.3.0-SNAPSHOT-1
    build: indexing/0.3.0-SNAPSHOT-1
    container_name: indexing
    env_file: .env
    ports:
      - "${REINDEXING_PORT}:${REINDEXING_PORT}"
      - "${LDPATH_PORT}:${LDPATH_PORT}"
    depends_on:
      - fcrepo
      - fuseki
    links:
      - apix:localhost

  acrepo:
    image: fcrepoapix/apix-acrepo:1.1.0-1
    build: extensions/acrepo/1.1.0-1
    container_name: acrepo
    env_file: .env
    ports:
      - "${ACREPO_FITS_PORT}:${ACREPO_FITS_PORT}"
      - "${ACREPO_IMAGE_PORT}:${ACREPO_IMAGE_PORT}"
      - "${ACREPO_ORE_PORT}:${ACREPO_ORE_PORT}"
      - "${ACREPO_PCDM_PORT}:${ACREPO_PCDM_PORT}"
      - "${ACREPO_SERIALIZE_XML_PORT}:${ACREPO_SERIALIZE_XML_PORT}"
    depends_on:
      - fcrepo
    links:
      - apix:localhost

  apix:
    image: fcrepoapix/apix-core:0.3.0-SNAPSHOT-1
    build: apix/0.3.0-SNAPSHOT-1
    container_name: apix
    env_file: .env
    ports:
      - "${PUBLIC_REPOSITORY_PORT}:${PUBLIC_REPOSITORY_PORT}"
      - "${APIX_LOADER_PORT}:${APIX_LOADER_PORT}"
    depends_on:
      - fcrepo

  rdfvis:
     image: fcrepoapix/apix-rdfvis:1.0.0-1
     build: extensions/rdfvis/1.0.0-1
     container_name: rdfvis
     env_file: .env
     ports:
       - "${EXT_RDF_VIS_PORT}:${EXT_RDF_VIS_PORT}"
     environment: 
       - "PORT=${EXT_RDF_VIS_PORT}"
     links:
      - apix:localhost

  fits:
    image: fcrepoapix/apix-fits:1.1.1
    build: fits/1.1.1
    container_name: fits
    env_file: .env
    ports:
      - "${FITS_PORT}:${FITS_PORT}"
