#if the fedora repository requires authentication, the following values can be set:
fcrepo.authUsername=${env:CAMEL_FCREPO_AUTHUSERNAME}
fcrepo.authPassword=${env:CAMEL_FCREPO_AUTHPASSWORD}
fcrepo.authHost=${env:PUBLIC_REPOSITORY_HOST:-localhost}
fcrepo.authPort=${env:PUBLIC_REPOSITORY_PORT:-80}

# The baseUrl for the fedora repository.
fcrepo.baseUrl=${env:PUBLIC_REPOSITORY_BASEURI:-http://localhost:8080/fcrepo/rest}

# The time Fedora triples are cached (in seconds)
fcrepo.cache.timeout=0

# The URL path prefix for the ldpath endpoint.
rest.prefix=/ldpath

# The port at which ldpath requests can be sent.
rest.port=${env:LDPATH_PORT:-9086}

# The hostname that the servlet component binds to
rest.host=0.0.0.0

# The global timeout for cache entries (in seconds)
cache.timeout=86400
